@font-face {
    font-family: Helvatica;
    src: url(./font/HelveticaNowDisplay-Regular.eot);
}

@font-face {
    font-family: hehe;
    src: url(./KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hehe;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
}

#nav{
    padding: 10px 70px;
}

#nav a{ 
    color: rgb(13, 3, 3);
    font-size: 25px;
    margin-right: 30px;
    text-decoration: none;
}

#main>h1{
    font-size: 300px;
    padding-left: 70px;
    font-weight: 100;
}

#btmleft{
    width: 300px;
    position: absolute;
    bottom: 15%;
    left: 5%;
}

#btmleft h3{
    font-size: 30px;
}

#btmleft p{
    font-size: 18px;
}

#btmleft h4{
    margin-top: 50px;
    font-size: 30px;
}

#bottombar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 70px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#bottombar a{
    color: #090606;
    text-decoration: none;
    font-size: 32px;
}

#main > img{
    height: 250px;
    position: absolute;
}

#second{
    height: 550px;
    top: 55%;
    left: 55%;
}
#first{
    height: 450px;
    top: 35%;
    left: 65%;
}
#third{
    height: 520px;
    top: 49%;
    left: 42%;
}